<form class="new_action" action="/" method="post">
  Don't forget!
  <br>
  <input type="text" name="note[title]" placeholder="Note Title">
  <br/>
  <input type="text" name="note[body]" placeholder="The Note!">
  <input type="submit" value="Create note!">
</form>