<form class="new_action" action="/notes/<%= @note.id %>/edit" method="post">
  Don't forget!
  <br>
  <input type="text" name="note[title]" value="<%= @note.title %>">
  <br/>
  <input type="text" name="note[body]" value="<%= @note.body %>">
  <input type="submit" value="Update this note!">
</form>